@include exports("window") {
	decoration {
		$_wm_border: #363636;

		border-radius: 4px 4px 0 0;
		border: solid 1px $_wm_border;
		color: red;

		box-shadow: 0 0 0 1px $_wm_border,
					0 8px 8px 0 opacify($_wm_border, 0.1);

		margin: 20px;

		&:backdrop {
			box-shadow: 0 0 0 1px $_wm_border,
						0 8px 8px 0 transparent,
						0 5px 5px 0 opacify($_wm_border, 0.1);
		}
		
		.fullscreen &,
		.tiled & {
			border-radius: 0;
		}

		.popup & {
			box-shadow: none;
			border-radius: 0;
		}

		.ssd & {
			border-radius: 4px 4px 0 0;
			box-shadow: 0 0 0 1px $_wm_border;
		
			&.maximized { border-radius: 0; }
		}

		.csd.popup & {
			border-radius: 2px;
			box-shadow: 0 3px 6px $_wm_border,
						0 0 0 1px $_wm_border;
		}

		tooltip.csd & {
			border-radius: 2px;
			box-shadow: 0 1px 3px 1px $_wm_border;
		}

		messagedialog.csd & {
			border-radius: 3px;
		}

		.solid-csd & {
			border-radius: 0;
			margin: 1px;
			background-color: $bg_color;
			box-shadow: none;
		}
	}
}

headerbar, .titlebar {
	background-color: $dark_bg_color;
	border: none;
	padding: 0 15px;
	margin: -1px;

	&.default-decoration button.titlebutton {
		padding: 10px 0;
		margin: 0 20px;
		border: none;
	}

	button.titlebutton, &.close, &.maximize, &.minimize {
		padding: 0 4px;
		min-width: 30px;
		min-height: 30px;
		min-width: 24px;
		background-color: transparent;
		color: $fg_color;
		border: none;

		&:hover { color: $selected_fg_color; }

		&:active, &:checked { color: $selected_bg_color; }
	}
}
