Source: nomad-gtk-themes
Section: gnome
Priority: optional
Maintainer: Alexis L?pez Zubieta <azubieta90@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
# Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/nomad-gtk-themes.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nomad-gtk-themes.git

Package: nomad-gtk-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nomad Gtk Themes
