Source: nx-gtk-themes
Section: gnome
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: nx-gtk-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NX GTK Themes
 GTK themes to integrate GTK software with
 Plasma 5.
